body{
  background: linear-gradient(135deg, #2D9CDB, #1C64F2);
}
table, th, td {
    border: 1px solid black;
    gap: 5px;
  }
th{
    color: var( --font-color);
}
td{border: 0px;
    padding-left: 5px;
}
tr{
  border: black 1px solid;

}
table{
    padding: 5px;
    background-color: white;
    width: 100%;
    font-size: 18px;
    border-collapse: collapse;
  }
 div{
    margin-bottom: 609px;
    justify-content: center;
  }
 footer{
    height: 100px;
 }
 .color{
  background-color: #f0f0f0;
 }