body{
  background: linear-gradient(135deg, #2D9CDB, #1C64F2);
}
table, th, td {
    border: 1px solid black;
    gap: 5px;
  }
th{
    color: var( --font-color);
}
td{
    padding-left: 5px;
}
table{
    margin-left: 5px;
    background-color: white;
    width: 60%;
    font-size: 18px;
    border-collapse: collapse;
  }
 div{
    margin-bottom: 609px;
    justify-content: center;
  }
 footer{
    height: 100px;
 }
 .color{
  background-color: grey;
 }