
.flex{
    display: flex;
    
}
main{
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.card{
    height: 45vh;
    width: 20vw;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.invisible{
    display: none;
}
.container{
    justify-content: center;
    margin-bottom: 10px;
    
}
.card h3 {
    font-size: 30px;
}
.btns{
   background:black;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 25px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.active-btn{
    background: linear-gradient(135deg, #56CCF2, #2F80ED);
}
.btns:hover {
    background: linear-gradient(135deg, #2D9CDB, #1C64F2);
    transform: scale(1.05);
  }
.inputs-layout{
    padding: 10px;
    margin-bottom: 20px;
    width: 80%;
    border: 1px solid gray;
    border-radius: 20px;
}
.inputs-container{
    padding-top: 20px;
    padding-bottom: 20px;
}
@media  (max-width:1510px){
    .btns{
        font-size: 10px;
        padding: 10px 10px;
        border: 1px solid var(--second-color);
        border-radius: 6px;
    }
    header{
        display: flex;
        justify-content: center;
    }

}
i{
    color:#1C64F2;
    margin-right: 3px;
}
.mess{
    color: red;
    padding-left: 10px;
}
.link-page{
    text-decoration: none;
    color: white;
}
.show-password{
    background-color: transparent;
    border: 0px ;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
.show-password:hover{
    font-size: 14px;
    transform: scale(1.05);
}