*{
    padding: 0;
    margin: 0;
    --main-color:#00000;
    --second-color:#222222;
    --font-color:#1DCD9F;
    --third-color:#169976;
    font-family: sans-serif;
}
body{
    background-image: url(../assets/ranger-4df6c1b6.png);
    background-repeat: no-repeat;
    background-size: cover;
}
